body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.top-container {
    height: 100vh;
    background-color: #FFF8F3;

}

.flex-container {
    display: flex;
    padding: 15px 0px;
}
.space{
    margin-top: 33px;
}
.left-width {
    width: 10%;
    padding-left: 20px;
}

.left-width img {
    height: 100%;
}

.right-width {
    width: 90%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

.orange-color {
    color: orange;
}

.navbar-menu {
    width: 35%;
}

.navbar-menu li {
    list-style-type: none;
    margin-right: 45px;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
}

.navbar-menu li a {
    text-decoration: none;
    padding: 18px 36px;
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
}



.left-info-width {
    width: 40%;
    padding-top: 37px;
}

.left-info-width h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 0;
}

.left-info-width h1 {
    font-weight: bold;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 0;
    margin-top: 0;
}

.left-info-width p {
    font-size: 16px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}

.link-btn {
    padding: 19px 17px;
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.link-btn-contact {
    padding: 19px 24px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    text-decoration: none;
    margin-left: 20px;
}

.right-info-width {
    width: 60%;
    position: relative;
}

.right-info-width img {
    width: 100%;
    padding-top: 109px;
}
.owner{
    position: absolute;
    top: -205px;
    left: 127px;

}

.main-section {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0px;
}

.about-container {
    padding: 100px 130px;
    background: #FFF8F3;
    border-radius: 10px;
}

.align-center {
    text-align: center;
}

.color-gray {
    color: #757575;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card-container h3 {
    margin-top: 0;
}

.card-container p {
    margin-bottom: 0;
}

.skill-heading {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 70px;
}

.card {
    padding: 30px 33px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.resume-title{
    text-align: center;
    margin-bottom: 30px;
}
.eduex-conatiner{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-bottom: 50px;
}
.cv-btn{
    display: flex;
    justify-content: center;
}
.footer-section{
    background-color: #FFF8F3;
    padding: 50px 0px;
    margin-top: 30px;
}
.half-width{
    width: 50%;
}
.contact-msg{
    padding-bottom: 15px;
}
.contact img{
    margin-right: 20px;
}
.message input{
    display: block;
    margin-bottom: 20px;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.message textarea{
    width: 100%;
    border: none;
    padding: 18px 30px;
    margin-bottom: 40px;
}